* text=auto !eol
/BitDataTypes.cs -text
/Constellation.cs -text
/Correlator.cs -text
/DataLink.cs -text
/DataTypes.cs -text
/EncodeDecode.cs -text
/FFT.cs -text
/Generator.cs -text
/LFSRegister.cs -text
/MELPeModem.csproj -text
/MELPeModem.sln -text
/MILSTD188_110B.cs -text
/MILSTD188_110B_39.cs -text
/MILSTD_188.cs -text
/ModDemod.cs -text
/Noise.cs -text
/OFDMFFT.cs -text
/OFDMSync.cs -text
/Program.cs -text
Properties/AssemblyInfo.cs -text
/ReedSolomon.cs -text
/Samples.cs -text
/Shaper.cs -text
/SoftInterleaver.cs -text
/Sync.cs -text
/Test.cs -text
/ToneDetector.cs -text
/VitDecoder.cs -text
/sos2csharp.m -text
